.app-list {
	padding: 10px;

	> div {
		flex-wrap: wrap;
		display: flex;
		height: fit-content;
		width: 100%;

		> a {
			display: flex;
			padding: 10px;
			height: fit-content;

			&.sys-management {
				width: 230px;
			}

			&.sys-config {
				width: 280px;
			}

			&.user-management {
				width: 230px;
			}

			&.release-config {
				width: 230px;
			}

			.card {
				width: 100%;

				.avatar {
					background-color: #ef8d32;
				}
			}
		}
	}
}
