.login-form {
  justify-content: center;
  align-items: center;

  .paper {
    padding: 30px 25px;
    max-width: 600px;

    input {
      height: 44px;
    }

    .error {
      color: red;
      margin-top: 15px;
    }
  }
}

form {
  button {
    margin-top: 10px !important;
  }

  .error {
    margin-top: 5px;
    color: red;
  }
}


